---
- name: Converge
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: Include zabbix_server_core role
      ansible.builtin.include_role:
        name: "middleware.middleware.zabbix_server_core"
