---
- name: Restart Zabbix Server
  ansible.builtin.service:
    name: "{{ zabbix_server_core_service_name }}"
    daemon_reload: true
    state: restarted

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Restart PHP-FPM
  ansible.builtin.service:
    name: php-fpm
    state: restarted
