# Python virtualenv
venv/

# Python cache files
**/__pycache__
.mypy_cache/

# Ansible cache files
.ansible

# Ansible collection build artifacts
*.tar.gz

# macOS settings
.DS_Store

# ローカルテスト用
test/