# ------------------------------------------------------------------------------
# Nginx Configuration File
# Managed by Ansible (Role: nginx_core)
# ------------------------------------------------------------------------------

# --- 1. System Settings ---
user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# --- 2. Dynamic Module Loading ---
# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

# --- 3. HTTP Settings ---
http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    # --- 3.1. Performance Settings ---
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   {{ nginx_keepalive_timeout }};
    types_hash_max_size 2048;
    client_max_body_size {{ nginx_client_max_body_size }};
    server_tokens {{ nginx_server_tokens }};

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # --- 3.2. Modular Configuration ---
    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include {{ nginx_conf_d_dir }}/*.conf;

    # --- 3.3. Dynamic Global Parameters ---
    {% if nginx_global_params is defined %}
    # Global Params
    {% for key, value in nginx_global_params.items() %}
    {{ key }} {{ value }};
    {% endfor %}
    {% endif %}

    # --- 3.4. Default Server Block ---
    server {
        listen       {{ nginx_http_port }} default_server;
        listen       [::]:{{ nginx_http_port }} default_server;
        server_name  _;
        root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}
