---
# 1. Javaのインストール
- name: Install Java
  ansible.builtin.dnf:
    name: "java-{{ tomcat_core_java_version }}-openjdk"
    state: present

# 2.1 Tomcatグループの作成
- name: Ensure Tomcat group exists
  ansible.builtin.group:
    name: "{{ tomcat_core_group }}"
    state: present

# 2.2 Tomcatユーザの作成
- name: Ensure Tomcat user exists
  ansible.builtin.user:
    name: "{{ tomcat_core_user }}"
    group: "{{ tomcat_core_group }}"
    state: present
    shell: /sbin/nologin

# 3. Tomcatが既にインストールされているかチェック
- name: Check if Tomcat is already installed
  ansible.builtin.stat:
    path: "/opt/apache-tomcat-{{ tomcat_core_version }}"
  register: tomcat_core_dir

# 4. Tomcatが既にインストールされていない場合、ダウンロードして展開
- name: Download and extract Tomcat
  ansible.builtin.unarchive:
    src: "https://dlcdn.apache.org/tomcat/tomcat-{{ tomcat_core_major_version }}/v{{ tomcat_core_version }}/bin/apache-tomcat-{{ tomcat_core_version }}.tar.gz"
    dest: "/opt"
    remote_src: true
  when: not tomcat_core_dir.stat.exists
  vars:
    tomcat_core_major_version: "{{ tomcat_core_version.split('.')[0] }}"

# 5. Tomcatインストール先ディレクトリの所有者と権限設定
- name: Set ownership of Tomcat directory
  ansible.builtin.file:
    path: "/opt/apache-tomcat-{{ tomcat_core_version }}"
    owner: "{{ tomcat_core_user }}"
    group: "{{ tomcat_core_group }}"
    state: directory
    recurse: true
    mode: "0755"

# 6. Tomcatのシンボリックリンクを設定
- name: Create symbolic link for Tomcat
  ansible.builtin.file:
    src: "/opt/apache-tomcat-{{ tomcat_core_version }}"
    dest: "{{ tomcat_core_install_dir }}"
    state: link
