---
- name: Install PostgreSQL repository (EL8)
  ansible.builtin.command:
    cmd: dnf install -y https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_distribution_major_version }}-x86_64/pgdg-redhat-repo-latest.noarch.rpm
  register: repo_install_el8
  changed_when: 
    - "'Nothing to do' not in repo_install_el8.stdout"
    - "'already installed' not in repo_install_el8.stdout"
    - "'Package' not in repo_install_el8.stdout" 
  failed_when: repo_install_el8.rc != 0
  when: ansible_distribution_major_version == '8'

- name: Disable repo_gpgcheck for PGDG repos
  ansible.builtin.shell: |
    sed -i 's/^repo_gpgcheck[[:space:]]*=[[:space:]]*1/repo_gpgcheck=0/' /etc/yum.repos.d/pgdg*.repo
    dnf clean all
  args:
    warn: false
  changed_when: false
  failed_when: false

- name: Disable default postgresql module
  ansible.builtin.command: dnf -qy module disable postgresql
  changed_when: false
  failed_when: false

- name: Install PostgreSQL packages (EL8)
  ansible.builtin.command:
    cmd: "dnf install -y {{ postgresql_package_name }}"
  register: pkg_install_el8
  changed_when: 
    - "'Nothing to do' not in pkg_install_el8.stdout"
    - "'already installed' not in pkg_install_el8.stdout"
  when: ansible_distribution_major_version == '8'
