---
- name: Converge
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: "Include core role"
      ansible.builtin.include_role:
        name: "middleware.middleware.postgresql_core"

    - name: Dump variables
      ansible.builtin.include_role:
        name: "middleware.middleware.postgresql_core"
        tasks_from: tests/dump_vars.yml
