---
# Linux: Configure firewall for Zabbix Agent 2

- name: Allow Zabbix Agent port through firewalld
  ansible.posix.firewalld:
    port: "{{ zabbix_agent_core_listen_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  when:
    - zabbix_agent_core_configure_firewall | bool
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
  failed_when: false
